body {
    background-color: rgb(0, 0, 0);
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
}
section{
    margin: 20px;
    padding: 20px;
    border: 2px solid hsl(49, 38%, 44%);
    border-radius: 10px;
    background-color: #222;
}
.drop {
    color: hsl(49, 80%, 61%);
    text-decoration: none;
    margin: 0 15px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
}

.arrow {
    display: inline-block;
    font-size: 1.2em;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
    margin-left: 5px;
}

.dropdown:hover .arrow {
    transform: rotate(270deg);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 2000;
    margin-top: 5px;
    transition: all 0.3s ease;
    transform: translateY(-10px);
}

.dropdown-content a {
    display: block;
    color: hsl(49, 80%, 61%);
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.dropdown-content a:hover {
    background-color: #1c1c1c;
}


.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

menu {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-inline-start: unset;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    padding: 15px;
}

menu a {
    text-decoration: none;
    margin: 0 15px;
}

menu a:hover,
.drop:hover {
    text-decoration: underline;
}

.contenido {
    margin-top: 120px;
    padding: 20px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;

}
img.centerb {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;

}
img.ch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;

}

img.derecha {
    display: block;
    margin-left: auto;
    width: 20%;
    height: auto;
}

img.izquierda {
    width: 20%;
    height: auto;
}

a.menu {
    margin-left: auto;
    margin-right: auto;
    color: hsl(49, 80%, 61%);
    font-size: xx-large;
}

p.P-Izquierda {
    color: rgb(179, 140, 95);
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    font-size: 30px;
}

p.P-Centrados {
    color: rgb(179, 140, 95);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    font-size: 30px;
}

p.P-Derecha {
    color: rgb(179, 140, 95);
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;

    font-size: 30px;
}

h1.Titulo {
    color: rgb(163, 162, 93);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-weight: 400;
    font-size: 100px;
}

h1.P-Centrados {
    color: rgb(179, 140, 95);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-weight: 400;
    font-size: 50px;
}

h1.P-Izquierda {
    color: rgb(179, 140, 95);
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    font-weight: 400;
    font-size: 50px;
}

h1.P-Derecha {
    color: rgb(179, 140, 95);
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    font-weight: 400;
    font-size: 50px;
}

p.H {
    color: rgb(179, 140, 95);
    font-size: 30px;
}

h1.H {
    color: rgb(179, 140, 95);
    font-size: 70px;
}

h2.H {
    color: rgb(179, 140, 95);
    font-size: 50px;
}

#Inicio, #Personajes, #Historia, 
#Gustave, #Lune, #Maelle, #Sciel, 
#Verso, #Monoco, #Esquie, #Renoir, #Peintresse {
    scroll-margin-top: 100px;
}